<html lang="en">
    <%- include ('./partials/head.ejs')  %>

    <body>
        <%- include ('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Whatever I type on this line reflects on all other lines and I think thats cooler than copying and pasting</p>
            <p>Whatever I type on this line reflects on all other lines and I think thats cooler than copying and pasting</p>
            <p>Whatever I type on this line reflects on all other lines and I think thats cooler than copying and pasting</p>
        </div>
    </body>
</html>