<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Enzu's Blog</title>
    </head>

    <body>
        <nav>
            <div class="site-tile">
                <a href="/"><h1>Enzu's Blog</h1></a>
                <p>Enzu's first node site</p>
            </div>

            <ul>
                <li><a href="/"></a>Blogs</li>
                <li><a href="about/"></a>About</li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>

        <div class="about-content">
            <h2>About Us</h2>
            <p>Whatever I type on this line reflects on all other lines and I think thats cooler than copying and pasting</p>
            <p>Whatever I type on this line reflects on all other lines and I think thats cooler than copying and pasting</p>
            <p>Whatever I type on this line reflects on all other lines and I think thats cooler than copying and pasting</p>
        </div>
    </body>
</html>